@charset "UTF-8";
/* CSS Document */

html{
	margin:0;
	padding:0;
	line-height:1.4em;
	font-family:Arial, Helvetica, sans-serif;
	color:#683E18;
	font-size:14px;
	}

body{
	background: #0C0803 url(../images/gradient-back.jpg) top center repeat-y;
	}
/* this is for the logged info at the top of the screen*/
.logged{
	text-align:right;
	}
/* this is for the logged info at the top of the screen*/
.wrapper{
	background:url(../images/scrolls.png) top no-repeat;
	}
	
.inside-wrapper{
	width:850px;
	margin: 0 auto;
	padding:15px;
	background:#F5EAD8 url(../images/texture.jpg) repeat;
	border:1px solid #4F3518;
	min-height:1000px;
	}	

.grad-wrapper{
	margin:0 auto;
	margin-top:-15px;
	}

.header{
	height:160px;
	margin:0;
	padding:0;
	display:block;
	position:relative;
	}
	
.header p{
	color:#2C792D;
	text-align:right;
	font-style:italic;
	width:250px;
	position:relative;
	left:590px;
	top:-170px;
	font-size:14px;
	display:block;
	}

.header h3{
	color:#683E18;
	position:relative;
	top:-170px;
	left:240px;
	font-size:16px;
	}

.header #logo{
	position:relative;
	margin-left: -40px;
	}


/*
-----------------------------------------------
Navigation / Main Menu
-----------------------------------------------
*/

#menu {
	position: relative;
	display: block;
	float: left;
	left: 234px;
	top: -144px;
}

#menu a, #menu a:link {
	display: block;
	text-decoration: none;
	color: #FFF;
}

#menu li a 
{
	text-align: center;
	line-height: 64px;
	
}

#menu, #menu ul {
	list-style-type:none;
	padding:0;
	margin:0;
	z-index:2;
}

#menu li {
	display: block;
	position:relative;
	float:left;
	z-index:210;
	background: none;
	width: 90px;
	height: 64px;
}

#menu li a:hover, #menu li:hover a {
	color: #FFF !important;
	background: #2C792D;
	width:auto;
}

#menu li a.first {
	cursor: default;
}


/*
-----------------------------------------------
Dropdown Menu
-----------------------------------------------
*/
#menu li ul {
	position:relative;
	display: block;
	left:-9999px;
	z-index: 3000;
}

#menu li ul li a {
	display: block;
	color: #fff !important;
	background: #F60;
	text-decoration: none;
	padding: 14px;
	border-bottom: 1px solid #939bad;
	height: auto;
	text-align: left;
	line-height: 15px;
	position:relative;
	z-index: 3000;
}


#menu li ul li a:hover  {
	background: #59B33A;
	color: #fff !important;
	text-decoration: none;
	height: auto;
	width: auto;
}

#menu li:hover ul li {
	display: block;
	width: 200%;
	height: auto !important;
}

#menu li:hover ul {
    display: block;
    left: 0px;
    width: auto;
    height: auto;
}


/*
-----------------------------------------------
END Dropdown Menu
-----------------------------------------------
*/

	
.content{
	margin-top:-120px;
	display:block;
	position:relative;
	width:100%;
	float:left;
	padding:6px;
	padding-top:5px;
	background:url(../images/symbol.png) top center no-repeat;
	z-index:1;
	}											

.content .login-box{
	margin-top:150px;
	padding:0;
	color:#683E18;
	font-weight:bold;
	font-size:16px;
	}	

.content .login-box label{
	margin-right:10px;
	}

.content .login-box input{
	border:1px solid #683E18;
	padding:5px;
	margin-right:10px;
	}
	
.content .login-box input.sub{
	color:#fff;
	background-color:#683E18;
	}							
	
.intro-text h1{
	color:#2C792D;
	font-weight:normal;
	font-size:40px;
	padding:0;
	margin::0px;
	text-align:left;
	}	
	
.content .intro-text p{
	margin:0;
	padding:0;
	font-size:16px;
	}		

.content .intro-text p span{
	color:#2C792D;
	}	
	
.content-box-holder{
	padding-top:10px;
	margin-left:10px;
	background:url(../images/symbol.png) center no-repeat;
	}

.content-box1,.content-box2, .content-box3, .content-box4 {
	width:385px;
	height:300px;
	float:left;
	margin:5px;
	padding-left:15px;
	padding-top:10px;
	}		


.content-box1{
	background:url(../images/image-box-people.png) no-repeat;
	}

.content-box2{
	background:url(../images/image-box-app.png) no-repeat;
	}

.content-box3{
	background:url(../images/image-box-search.png) no-repeat;	
	}

.content-box4{
	background:url(../images/image-box-books.png) no-repeat;	
	}

.content-box h3, p{
	width:340px;
	margin:3px;
	padding:3px;
    }
	
.footer{
	display: block;
	position: relative;
	background: #372314;
	clear:both;
	margin:0 auto;
	height:auto;
	width: 880px;
	padding: 10px 0;
	}

.footer ul{
	text-align:center;
	margin-right:55px;
	}
	
.footer ul li{
	list-style-type:none;
	display:inline;
	margin-left:40px;
	position:relative;
	}

.footer li a{
	text-decoration:none;
	color:#fff;
	}
	
.footer li a:hover{
	color:#683E18;
	}
	
.SearchPanelFooter-new{
	width:100%;
	}

.green-title{
	color:#2C792D;
	font-size:16px;
	font-style:italic;
	}			


/////////////////////////////////////



.actionBar input[type=submit]
{
    color: #fff;
    border: 1px solid #2a790b;
    text-transform: uppercase;
    padding: 5px;
    background-color: #5AA53D;
    font-weight: bold;
    font-size: x-small;    
}
	
.MEPIbtn
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    background-color:#683E18;
    font-weight: bold;
	position:relative;
	display:block;
	float:left;
	margin-right:10px; 
}

.MEPIbtn-new{
	color: #fff;
    text-transform: uppercase;
    padding: 8px;
    background-color:#683E18;
    font-weight: bold;
	position:relative;
	display:block; 
	}


.btnAdd
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #003300;
    border: 1px solid #2a790b;
    text-transform: uppercase;
    padding: 3px;
    background-color: #BEE1B0;
    font-weight: bold;
    width:70px
}

.btnRemove
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #FF0000;
    border: 1px solid #FF0000;
    text-transform: uppercase;
    padding: 3px;
    background-color: #FFD2D2;
    font-weight: bold;
        width:70px
}
.btnUnLock
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #003300;
    border: 1px solid #2a790b;
    text-transform: capitalize;
    padding: 3px;
    background-color: #BEE1B0;
    font-weight: normal;
    width: 100px;
}

.MEPItxt {
	padding: 2px;
	border: 1px solid #d5c9ba;
	position:absolute;
	left:150px;
	width:200px;
	
}

.MEPIcontent h1 {
	text-transform: uppercase;
	font-size:40px;
	color: #297B08;
	font-weight: normal;
}

.MEPIcontent a, .MEPcontent a:visited {
	color: #85613a;
	text-decoration: none;
	border-bottom: 1px dotted #85613a;
}

.MEPIcontent a:hover {
	color: #297B08;
	text-decoration: none;
	border-bottom: 0;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    float: right !important;
    padding: 10px;
    color: #85613a;
}
				  
table{
	padding:10px;
	border:none;
	}

				  .MEPtbl {
				  border-collapse: collapse;
				  width: 100%;
				 
				  }
				  
				  .MEPItbl th {
				  color: #fff;
				  background: #F9F8F7;
				  border:none;
				  color:green;
				  height:45px;
				  }
				  
				  .MEPItbl th, .MEPItbl td {
				  padding: 6px;
				  border:none;
 			  	  }
 			  
			      .MEPItbl tr:nth-child(odd) {
  					background-color: #F9F8F7;
					}

					 
 			  
    .DataGrid_HeaderStyle
    {
		color: #fff;
		background: #297B08;
	}
 
     .formLayout
{
	display: block;
	
 	padding-top: 7px; 
 	padding-bottom:35px;
	margin-top: 5px;
	margin-bottom: 5px;
	height:auto;
}
 
    .formLayout p label, .formLayout p input, .formLayout p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
	/*font-size: 90%;*/
}
 
    .formLayout p label
{
	text-align: right;
	padding-right: 20px;
	/*font-size: 90%;*/
}
 
  
    .formLayout p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 558px;
}	
 
.formLayout p label
{
	float: left; width: 120px
}
   
.formLayout p textbox
{
	margin-left: 320px;
}
.formLayout p select
{
	/*margin-left: 320px;*/
}
     .searchFormLayout
{
	
 	padding: 7px; 
	margin-top: 5px;
	margin-bottom: 5px;
}
 
    .searchFormLayout p label, .searchFormLayout p input, .searchFormLayout p select
{
	display: block;
	width: 140px;
	float: left;
	margin-bottom: 10px;
	/*font-size: 90%;*/
}
 
    .searchFormLayout p label
{
	text-align: right;
	padding-right: 20px;
	/*font-size: 90%;*/
}
 
  
    .searchFormLayout p
{
	padding: 0px;
	margin: 3px;
	clear:left;
}	



	.warningbox
{
	margin-top: 5px;
	padding:5px;
	background-color: #FFAEAE;
	border: thin solid #FF0000;
}
   
   .warningbox input
   {
   	background:red;
   } 
   
  .MEPIcontent a .deleteLink , .deleteLink a:link ,.deleteLink a
{
	color: Red;
 
}

   .displayInfo
{
	border: thin ridge #6F6635;
	padding: 10px;
	background-color: #FAFAF4;
	margin-top: 5px;
	margin-bottom: 5px;
}

.displayInfo p
{
	padding: 0px;
	margin:0px;
}

.displayInfo p label
{
	float: left; width: 120px
}
   
.displayInfo p textbox
{
	margin-left: 400px;
}
 
 .notes
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: thin solid #008000;
	background-color: #CCFFCC;
	padding: 5px;
}
 
 .ratingStar {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 12px;
    margin: 0;
    padding: 0;
    width: 13px;
}
.filledRatingStar {
    background-image: url("Images/FilledStar.png");
}
.emptyRatingStar {
    background-image: url("Images/EmptyStar.png");
}
.savedRatingStar {
    background-image: url("Images/SavedStar.png");
}
table td, table th
{
    padding:6px;  
}

         .searchInputBoxes
    {
        background-color: white;
        border: solid 0px #a1a1a1;
        padding: 5px;
        width: 675px;

    }
    .searchInputBoxes .leftColumn, .searchInputBoxes .rightcolumns
    {
        position:relative;
		display: block;
        width: 300px;
        float: left;
        margin-bottom: 0px;
    }
	
.leftColumn, .rightcolumns{
	position:relative;
	width:300px;
	float:left;
	}	

.rightcolumns{
	margin-left:80px;
	}
	
.searchInputBoxes .leftColumn p label
{
	float: left; width: 120px
}
   
.searchInputBoxes .leftColumn p textbox
{
	margin-left: 320px;
}
 .searchInputBoxes .rightcolumns p label
{
	float: left; width: 120px
}
   
.searchInputBoxes .rightcolumns p textbox
{
	margin-left: 320px;
}

.level0
{
    margin-left: 0px;
}


.level1
{
    margin-left: 60px;
}
.level2
{
    margin-left: 120px;

}
.level3
{
    margin-left: 180px;

}
.Qnlvl0
{
    font-family: Arial;
    font-size:medium;
    color: #37331E;
    font-weight: bold;
}
.Qnlvl1
{
    font-family: Arial;
    font-size:medium;
    font-weight: bold;
    color: #665F37;
}
.Qnlvl2
{
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    color: #D0CAA8;
}
.Qnlvl3
{
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    color: #808000;
}
.Answer
{
    border: thin solid #808080;
    margin-left: 15px;
    margin-top: 5px;
    background-color: #F0EEE3;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    width: 550px;
}
 
	
	
			