﻿
.panel_button
{
    background: transparent url('images/panel_button.png') repeat scroll 0 0;
    cursor: pointer;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    position: relative;
    top: 1px;
    width: 173px;
    z-index: 20;
}
.panel_button img {
    border: medium none;
    position: relative;
    top: 10px;
}
.panel_button a {
    color: #545454;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: relative;
    text-decoration: none;
    top: 5px;
}
.panel_button a:hover {
    color: #999999;
}
 
#toppanel {
    left: 0;
   /* position: absolute;*/
    text-align: center;
    width: 900px;
    z-index: 25;
}
#Searchpanel {
    height: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    top: 1px;
    width: 900px;
    z-index: 10;
}
#panel_contents
{
    border: thin solid #008000;
    background: #297B08 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    width: 904px;
    z-index: -1;
}
#panel h1 {
    color: white;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-weight: normal;
    left: 275px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 10px;
}
#panel h2 {
    color: #447C6F;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 16px;
    left: 350px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 60px;
}
#content {
    color: #545454;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    position: relative;
    text-align: left;
    top: 90px;
    width: 600px;
    height:auto;
}
#footer p {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    position: relative;
    top: 0px;
}