@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	        background:url("../images/gradient-back.jpg") repeat-y scroll center top #0C0803;

	text-align: center;
}

.wrapper {
    background:url("../images/scrolls.png") no-repeat scroll center top transparent;
}
.MEPIWrap {
	background:url("../images/texture.jpg") repeat scroll 0 0 #F5EAD8;
	width: 873px;
	margin: 0 auto;
	border-left: 1px solid #d5d1be;
	border-right: 1px solid #d5d1be;
	padding: 0 15px 15px 15px;
	height: auto;
	display: table;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .75em;
}
 

/*
-----------------------------------------------
Navigation / Main Menu
-----------------------------------------------
*/

#menu {
    display:block;
    float:left;
    font-size:1   font-weight:bold;
    left:270px;
    position:relative;
    top:-91px;
    height:5px;
}

#menu a, #menu a:link {
	display: block;
	text-decoration: none;
	color: #FFF;
}

#menu li a 
{
	text-align: center;
	line-height: 64px;
	
}

#menu, #menu ul {
	list-style-type:none;
	padding:0;
	margin:0;
	z-index:2;
}

#menu li {
	display: block;
	position:relative;
	float:left;
	z-index:210;
	background: none;
	width: 90px;
	height: 64px;
}

#menu li a:hover, #menu li:hover a {
	color: #FFF !important;
	background: #2C792D;
	width:auto;
}

#menu li a.first {
	cursor: default;
}


/*
-----------------------------------------------
Dropdown Menu
-----------------------------------------------
*/
#menu li ul {
	position:relative;
	display: block;
	left:-9999px;
	z-index: 3000;
}

#menu li ul li a {
	display: block;
	color: #fff !important;
	background: #F60;
	text-decoration: none;
	padding: 14px;
	border-bottom: 1px solid #939bad;
	height: auto;
	text-align: left;
	line-height: 15px;
	position:relative;
	z-index: 3000;
}


#menu li ul li a:hover  {
	background: #59B33A;
	color: #fff !important;
	text-decoration: none;
	height: auto;
	width: auto;
}

#menu li:hover ul li {
	display: block;
	width: 200%;
	height: auto !important;
}

#menu li:hover ul {
    display: block;
    left: 0px;
    width: auto;
    height: auto;
}


/*
-----------------------------------------------
END Dropdown Menu
-----------------------------------------------
*/ 

.MEPImenu {
	background: url(../images/MEPImenu.gif) repeat-x top;
	border: 1px solid #e2dec9;
float: left;
margin-top: -3px !important;
height: 24px;
font-size: 11px;
font-family: Helvetica, Arial, sans-serif;
width: 873px;
margin-bottom: 15px !important;
}

 
.MEPImenu a,.MEPImenu a:link,.MEPImenu a:visited {
display: block;
padding-bottom: .1em;
text-decoration: none;
color: #85613a !important;
text-transform: uppercase;
}
 
 
.MEPImenu, .MEPImenu ul {
padding: 0;
margin:0;
z-index:2;
}
 
 .MEPImenu ul {
	list-style-type: none;
 }
 
.MEPImenu li ul {
				position:absolute;
                left:-2999px;
				list-style-image: none !important;
				list-style-type: none;
}
 
.MEPImenu li {
float:left;
z-index:200;
margin-top: 3px;
height: auto;
border-right: 1px solid #d5d1be;
line-height: 18px;
text-align: center;
width: 135px;
}
 
.MEPImenu li a:hover, .MEPImenu li:hover a {
background: #85613a;
color: #fff !important;
}

.MEPImenu li li {
background: #277167;
padding-top: 0;
text-align: left;
margin-top: 0;
}


 
.MEPImenu li ul li a, .MEPImenu li.sdMenuMSIE ul li a {
color: #fff !important;
text-decoration: none;
padding: 4px;
width:160px;
border-bottom: 1px solid #4A9694;
height: auto;
line-height: 15px;
}
 
.MEPImenu li ul li a:hover,.MEPImenu li.aitqMenuMSIE ul li a:hover
{
background: #4A9694;
color: #fff !important;
text-decoration: none;
height: auto;
}
 
 
.MEPImenu li:hover ul,.MEPImenu li.aitqMenuMSIE ul
{
    display: block;
    width:160px;
    height: auto;
	left:0;
}
 
.MEPImenu li:hover ul, .MEPImenu li.sfhover ul { /* lists nested under hovered list items */
                left: auto;
				margin-top: 0;	
               }
			   
			   .MEPIcontent {
				   width: 100%;
				   text-align: left;
			   }
			   
.actionBar input[type=submit]
{
    color: #fff;
    border: 1px solid #2a790b;
    text-transform: uppercase;
    padding: 5px;
    background-color: #5AA53D;
    font-weight: bold;
    font-size: x-small;    
}



.footer {
    background:none repeat scroll 0 0 #372314;
    clear:both;
    display:block;
    height:auto;
    margin:10px auto auto;
    padding:5px 15px 15px;
    position:relative;
     width:880px;
}
.footer ul{
	text-align:center;
	margin-right:55px;
	}
	
.footer ul li{
	list-style-type:none;
	display:inline;
	margin-left:40px;
	position:relative;
	}

.footer li a{
	text-decoration:none;
	color:#fff;
	}
	
.footer li a:hover{
	color:#683E18;
	}
	
	
.MEPIbtn
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #fff;
    border: 1px solid #2a790b;
    text-transform: uppercase;
    padding: 5px;
    background-color: #5AA53D;
    font-weight: bold;
    font-size: x-small;
}
.btnAdd
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #003300;
    border: 1px solid #2a790b;
    text-transform: uppercase;
    padding: 3px;
    background-color: #BEE1B0;
    font-weight: bold;
    width:70px
}
.btnRemove
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #FF0000;
    border: 1px solid #FF0000;
    text-transform: uppercase;
    padding: 3px;
    background-color: #FFD2D2;
    font-weight: bold;
        width:70px
}
.btnUnLock
{
    /*background: url(../images/MEPIbtn.gif) repeat-x;*/
    color: #003300;
    border: 1px solid #2a790b;
    text-transform: capitalize;
    padding: 3px;
    background-color: #BEE1B0;
    font-weight: normal;
    width: 100px;
}

.MEPItxt {
	padding: 2px;
	border: 1px solid #d5c9ba;
 	 
	
	
}


.MEPIcontent h1 {
	/*font-size: 1.25em;
	text-transform: uppercase;
	color: #297B08;
	font-weight: normal;
*/
	text-transform: uppercase;
	font-size:28px;
	color: #297B08;
	font-weight: normal;
}

.MEPIcontent a, .MEPcontent a:visited {
	color: #85613a;
	text-decoration: none;
	border-bottom: 1px dotted #85613a;
}

.MEPIcontent a:hover {
	color: #297B08;
	text-decoration: none;
	border-bottom: 0;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    float: right !important;
    padding: 10px;
    color: #85613a;
}
				  
				  .MEPtbl {
				  border-collapse: collapse;
				  width: 100%;
				 
				  }
				  
				  .MEPItbl th {
				  color: #fff;
				  background: #F9F8F7;
				  border:none;
				  color:green;
				  height:45px;
				  }
				  
				  .MEPItbl th, .MEPItbl td {
				  padding: 6px;
				  border:none;
 			  	  }
 			  
			      .MEPItbl tr:nth-child(odd) {
  					background-color: #F9F8F7;
					}
 			  
    .DataGrid_HeaderStyle
    {
		color: #fff;
		background: #297B08;
	}
 
     .formLayout
{
	display: block;
	border: solid thin #a1a1a1;
 	padding-top: 7px; 
 	padding-bottom:35px;
	margin-top: 5px;
	margin-bottom: 5px;
	height:auto;
}
 
    .formLayout p label, .formLayout p input, .formLayout p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
	/*font-size: 90%;*/
}
 
    .formLayout p label
{
	text-align: right;
	padding-right: 20px;
	/*font-size: 90%;*/
}
 
  
    .formLayout p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 558px;
}	
 
.formLayout p label
{
	float: left; width: 120px
}
   
.formLayout p textbox
{
	margin-left: 320px;
}
.formLayout p select
{
	/*margin-left: 320px;*/
}
     .searchFormLayout
{
	border: solid thin #a1a1a1;
 	padding: 7px; 
	margin-top: 5px;
	margin-bottom: 5px;
}
 
    .searchFormLayout p label, .searchFormLayout p input, .searchFormLayout p select
{
	display: block;
	width: 140px;
	float: left;
	margin-bottom: 10px;
	/*font-size: 90%;*/
}
 
    .searchFormLayout p label
{
	text-align: right;
	padding-right: 20px;
	/*font-size: 90%;*/
}
 
  
    .searchFormLayout p
{
	padding: 0px;
	margin: 3px;
	clear:left;
}	



.warningbox
{
	margin-top: 5px;
	padding:5px;
	background-color: #FFAEAE;
	border: thin solid #FF0000;
}
   .warningbox input
   {
   	background:red;
   } 
   
  .MEPIcontent a .deleteLink , .deleteLink a:link ,.deleteLink a
{
	color: Red;
 
}

   .displayInfo
{
	border: thin ridge #6F6635;
	padding: 10px;
	background-color: #FAFAF4;
	margin-top: 5px;
	margin-bottom: 5px;
}

.displayInfo p
{
	padding: 0px;
	margin:0px;
}

.displayInfo p label
{
	float: left; width: 120px
}
   
.displayInfo p textbox
{
	margin-left: 400px;
}
 .notes
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: thin solid #008000;
	background-color: #CCFFCC;
	padding: 5px;

}
 
 .ratingStar {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 12px;
    margin: 0;
    padding: 0;
    width: 13px;
}
.filledRatingStar {
    background-image: url("Images/FilledStar.png");
}
.emptyRatingStar {
    background-image: url("Images/EmptyStar.png");
}
.savedRatingStar {
    background-image: url("Images/SavedStar.png");
}
table td, table th
{
    padding:6px;  
}

         .searchInputBoxes
    {
        /*background-color: white;*/
        border: solid 0px #a1a1a1;
        padding: 5px;
        width: 675px;
        display:table;

    }
    .searchInputBoxes .leftColumn, .searchInputBoxes .rightcolumns
    {
        display: block;
        width: 320px;
        float: left;
        margin-bottom: 0px;
    }
.searchInputBoxes .leftColumn p label
{
	float: left; width: 120px
}
   
.searchInputBoxes .leftColumn p textbox
{
	margin-left: 320px;
}
 .searchInputBoxes .rightcolumns p label
{
	float: left; width: 120px
}
   
.searchInputBoxes .rightcolumns p textbox  
{
	margin-left: 320px;
	width:175px;
}
.searchInputBoxes .rightcolumns p select  
{
	/*margin-left: 320px;*/
	width:200px;
		padding: 2px;
	border: 1px solid #d5c9ba;
}





.level0
{
    margin-left: 0px;
}


.level1
{
    margin-left: 60px;
}
.level2
{
    margin-left: 120px;

}
.level3
{
    margin-left: 120px;
}

.level0
{
    margin-left: 0px;
}


.level1
{
    margin-left: 60px;
}
.level2
{
    margin-left: 120px;

}
.level3
{
 	margin-left: 320px;   
}
  .searchInputBoxes .leftColumn p textbox
{
	margin-left: 320px;
}
 .searchInputBoxes .rightcolumns p label
{
	float: left; width: 120px
}
   
.searchInputBoxes .rightcolumns p textbox
{
	margin-left: 320px;
}





.level0
{
    margin-left: 0px;
}


.level1
{
    margin-left: 60px;
}
.level2
{
    margin-left: 120px;

}
.level3
{
    margin-left: 180px;

}
.Qnlvl0
{
    font-family: Arial;
    font-size:medium;
    color: #37331E;
    font-weight: bold;
}
.Qnlvl1
{
    font-family: Arial;
    font-size:medium;
    font-weight: bold;
    color: #665F37;
}
.Qnlvl2
{
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    color: #D0CAA8;
}
.Qnlvl3
{
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    color: #808000;
}
.Answer
{
    border: thin solid #808080;
    margin-left: 15px;
    margin-top: 5px;
    background-color: #F0EEE3;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    width: 550px;
}

 .qnCategories h3
{
    border-style: none none solid none;
    border-width: thin;
    border-color: #008000;
    background-color: #CDE1C4;
    padding: 5px;
    margin:  0 0 0 0;
} 
/*
 .qnCategories div
{
     
    background-color: #FFFFFF;
    padding: 15px;
    margin:  0  0 5 0;
} 
*/
.qnCategories
 {
     background-color:#FFFFFF;
     padding: 0 0 10 0;
     margin: 0  0 5 0;
 }