﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="MatrixOtherRelatives_Temp.aspx.cs" Inherits="Matrices_MatrixOtherRelatives_Temp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
       <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="jquery-ui-1.8.2.custom.min.js"></script>
   
    <script type="text/javascript">
        var g_isPostBack = false;

        function windowOnBeforeUnload() {
            if (g_isPostBack == true)
                return; // Let the page unload

            if (window.event) {
                //var dialogText = 'Navigating away from the service log without saving the record means any entered data will be lost. If you would like to save this record, you must click SAVE. Would you still like to navigate away from this service log';
                //var italictxt = 'without';
                //dialogText += italictxt.italics() + " saving data?";

                //window.event.returnValue =  dialogText; // IE

                window.event.returnValue = 'Navigating away from the service log without saving the record means any entered data will be lost. If you would like to save this record, you must click SAVE. Would you still like to navigate away from this service log without saving data?'; // FX

            }
            else {
                return 'Navigating away from the service log without saving the record means any entered data will be lost. If you would like to save this record, you must click SAVE. Would you still like to navigate away from this service log without saving data?'; // FX
            }
        }

        window.onbeforeunload = windowOnBeforeUnload;
        </script>

</asp:Content>
 
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
    <h1>Education of Other Relatives on Substance Use Disorders and Recovery</h1>
    <table class="gridTbl" style="font-size: .8em">
        <tr>
            <th style="width:35%">Topic</th>
            <th style="width:13%">Primary topic for session</th>
            <th style="width:13%">One of several topics</th>
            
            <th style="width:13%">Touched on topic</th>
            <th style="width:13%">Did not discuss</th>
        </tr>
        <tr>
            <td >Discussing impact of substance use disorders on family, friends, and relationships</td>
            <td colspan="5" style="padding:0px;margin:0px;">
		        <asp:RadioButtonList id="rblTopicid1fk" runat="server"   RepeatDirection="Horizontal"   CssClass="radionButtonMatrixList" Width="100%" > 
		        </asp:RadioButtonList>
            </td>
        </tr>

        <tr>
            <td>Discussing relapse prevention </td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid2fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Educating on biology of addiction </td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid3fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>

        <tr>
            <td>Educating on the medical effects of substance use</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid4fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        
 
    </table>
   
    <div class="formLayout">
 
 
        <p>
                <asp:Button ID="btnSave" runat="server" Text="Save" onclick="btnSave_Click" />&nbsp;<asp:Button 
                    ID="btnClose" runat="server" Text="Close" onclick="btnClose_Click" />&nbsp;&nbsp;&nbsp; 
          
           
        </p>
            <p>
            <asp:Literal ID="litMessage" Visible="true" runat="server"></asp:Literal>
          
        </p>
    </div>
</asp:Content>


