﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="MatrixParentingSkills_Temp.aspx.cs" Inherits="Matrices_MatrixParentingSkills_Temp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">

       <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="jquery-ui-1.8.2.custom.min.js"></script>
   
    <script type="text/javascript">
        var g_isPostBack = false;

        function windowOnBeforeUnload() {
            if (g_isPostBack == true)
                return; // Let the page unload

            if (window.event) {
                //var dialogText = 'Navigating away from the service log without saving the record means any entered data will be lost. If you would like to save this record, you must click SAVE. Would you still like to navigate away from this service log';
                //var italictxt = 'without';
                //dialogText += italictxt.italics() + " saving data?";

                //window.event.returnValue =  dialogText; // IE

                window.event.returnValue = 'Navigating away from the service log without saving the record means any entered data will be lost. If you would like to save this record, you must click SAVE. Would you still like to navigate away from this service log without saving data?'; // FX

            }
            else {
                return 'Navigating away from the service log without saving the record means any entered data will be lost. If you would like to save this record, you must click SAVE. Would you still like to navigate away from this service log without saving data?'; // FX
            }
        }

        window.onbeforeunload = windowOnBeforeUnload;
        </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <h1>Parents'/Other Adults' Parenting Skills</h1>
    <table class="gridTbl" style="font-size: .8em">
        <tr>
            <th style="width:35%" >Topic</th>
            <th style="width:13%">Primary topic for session</th>
            <th style="width:13%">One of several topics</th>
            <%--<th style="width:13%">Spent some time discussing topic</th>--%>
            <th style="width:13%">Touched on topic</th>
            <th style="width:13%">Did not discuss</th>
        </tr>
        <tr>
            <td >Fostering parent's ability to effectively communicate with child </td>
            <td colspan="5" style="padding:0px;margin:0px;">
		        <asp:RadioButtonList id="rblTopicid1fk" runat="server"   RepeatDirection="Horizontal"   CssClass="radionButtonMatrixList" Width="100%" > 
		        </asp:RadioButtonList>
            </td>
        </tr>

        <tr>
            <td>Teaching parent how to develop child's communication and social skills </td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid2fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Teaching parent about child growth and development </td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid3fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>

        <tr>
            <td>Teaching parent how to establish care-giving routines&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid4fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Teaching parent to serve as a secure emotional base for child&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid5fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Fostering parent's understanding of and ability to develop child autonomy&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid6fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Teaching parent strategies to promote positive family interactions&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid7fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Teaching parent to manage child's misbehavior, foster positive behavior, and set developmentally appropriate rules and consequences&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid8fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Educating parent about pre-teen and teen sex and STIs&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid9fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Educating parent about child/adolescent substance use&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid10fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
        <tr>
            <td>Educating parent on child/adolescent depression and suicide&nbsp;</td>
            <td colspan="5" style="padding:0px;margin:0px;">		    
                <asp:RadioButtonList id="rblTopicid11fk" runat="server"   RepeatDirection="Horizontal"  CssClass="radionButtonMatrixList" Width="100%"> </asp:RadioButtonList> 
            </td>
        </tr>
 
 
    </table>
   
    <div class="formLayout">
 
 
        <p>
                <asp:Button ID="btnSave" runat="server" Text="Save" onclick="btnSave_Click" />&nbsp;<asp:Button 
                    ID="btnClose" runat="server" Text="Close" onclick="btnClose_Click" />&nbsp;&nbsp;&nbsp; 
          
           
        </p>
            <p>
            <asp:Literal ID="litMessage" Visible="true" runat="server"></asp:Literal>
          
        </p>
    </div>
</asp:Content>


