﻿<%@ Page Title="" Language="C#" MasterPageFile="Site.master" AutoEventWireup="true" CodeFile="Login2.aspx.cs" Inherits="Account_Login2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    
        <p>
		<label for="txtUserID">UserID</label>
		<asp:textbox id="txtUserID" runat="server" ></asp:textbox>        

	</p>
	<p>
		<label for="txtPassword">Password</label>
		<asp:textbox id="txtPassword" runat="server" TextMode="Password" ></asp:textbox>       

	</p>
    <p>
    <asp:Literal ID="litMessage" runat="server" ></asp:Literal>
    </p>
    <asp:Button ID="btnLogin" runat="server" Text="Login" onclick="btnLogin_Click" />
</asp:Content>

