﻿<p>Dear [[User]],</p>



<p>Below is the password needed to access your account. Please save this for future reference.</p>
<p>Your User Id is the email address registered with your account.</p>
    <p><strong>Password: </strong>
        [[password]]</p>
   

<p>Thank You! </p>