﻿   


   .searchBox
{
    padding: 7px 10px 30px 10px;
    display: block;
    border: thin solid #000080;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: white;
 
    font-weight: bold;
} 
   .searchBox p label, .searchBox p input, .searchBox p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .searchBox p label
{
        width:300px;
      
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
 
  
    .searchBox p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1250px;
}	
 

      /*----------------------------------------------*/
     .infoBox1 {
    padding: 7px 10px 40px 10px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #EFEFF7;
}
    .infoBox1 p label, .infoBox1 p input, .infoBox1 p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .infoBox1 p label
{
        width:300px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
 
  
    .infoBox1 p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1250px;
}	
 
 
   
.infoBox1 p input  {
     
    background-color: #F7F3F7;
  
}
/* ---------------------------------*/


      .formLayout {
    padding: 7px 10px 35px 10px;
    display: block;
    border: thin solid #808080;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: white;
    border: thin solid #C0C0C0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 5px 20px 5px;
}
 
    .formLayout p label, .formLayout p input, .formLayout p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .formLayout p label {
    width: 350px;
    font-weight: normal;
    float: left; /*width: 250px;*/
    text-align: left;
    padding-right: 20px; /*font-size: 90%;*/
}
 
  
    .formLayout p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1000px;
}	
 
 
   
.formLayout p textbox
{
	margin-left: 320px;
}
.formLayout p select
{
	/*margin-left: 320px;*/
}
.formLayout p table
{
	margin-left: 320px;
}

      .formLayoutExceptions {
    padding: 7px 10px 35px 10px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #FFFFFF;
}


          .formLayoutExceptions p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 750px;
}	
    .formLayoutExceptions p label
{
        width:300px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
.reviewBox {
    background-color: #CCFFCC;
}
 
    /*=*/
.gridHeaderStyle {
    background-color: #546E96;
    font-weight: bold;
    color: #FFFFFF;
}


.formLayoutBoxes
{
    border: thin solid #C0C0C0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 5px 10px 5px;
}
.formLayoutBoxes p input[type="text"],.formLayoutBoxes p textarea,.formLayoutBoxes p select
{
    font-weight:bold;
    font-family:Arial ;
    font-size:small;  
} 
 /**--------------------------------------------*/
  .gridTbl {
    border: none;
    padding: 0px;
    margin: 0px;
    font-size: .9em;
}

.gridTbl th {
    border-style: none none solid none;
    padding: 10px;
    color: #4E4E4E;
    border-bottom-width: 2px;
    text-align: left;
    background-color: #F2CD36;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: normal;
}
.gridTbl th a
{
 
    color: #E1F6BD; text-decoration:none;
 
}
.gridTbl th a:hover 
{
 
    color: grey; text-decoration:underline;
 
}

.gridTbl th:hover
{

   /* color: #223C61;*/

}
.gridTbl td {
    border-width: thin;
    border-style: none none dotted none;
    padding: 2px 5px 2px 5px;
}

.gridTbl tr:nth-child(even)
{
   /*background: #F5FCEB;*/ 
}
.gridTbl tr:nth-child(odd) {background: white}

.gridTbl tr:hover
{
     background-color: #ccc;
}
.gridTbl th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.gridTbl th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.gridTbl th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.gridTbl th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

/**========================================================================*/


/**--------------------------------------------*/
  .gridTb2 {
    border: none;
    padding: 0px;
    margin: 0px;
    font-size: .9em;
}

.gridTb2 th {
    border-style: none none solid none;
    padding: 2px;
    color: #4E4E4E;
    border-bottom-width: 2px;
    text-align: left;
    background-color: #F2CD36;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: normal;
}
.gridTb2 th a
{ 
    color: #E1F6BD; text-decoration:none; 
}
.gridTb2 th a:hover 
{ 
    color: grey; text-decoration:underline; 
}

.gridTb2 th:hover
{
   /* color: #223C61;*/
}
.gridTb2 td {
    border-width: thin;
    border-style: none none dotted none;
    padding: 2px 2px 2px 2px;
}

.gridTb2 tr:nth-child(even)
{
   /*background: #F5FCEB;*/ 
}
.gridTb2 tr:nth-child(odd) {background: white}

.gridTb2 tr:hover
{
     background-color: #ccc;
}
.gridTb2 th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.gridTb2 th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.gridTb2 th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.gridTb2 th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

/**========================================================================*/
.radionButtonMatrixList td
{ 
   width: 20%; 
}
.radionButtonMatrixList td label
{ 
   display:none; 
}
.checkBoxWithLinks label 
{ 
   width:0px;
}
.radionButtonMatrixList td
{
    border-width: thin;
    border-style: none none none none;
    padding: 10px;
}
/*-------------------------------------*/