﻿/* DEFAULTS
----------------------------------------------------------*/

body {
    background: #336699; /*font-size: .80em;
    font-family: Verdana,Arial,sans-serif;
    font-family: "Noto Sans","Helvetica Neue","Arial",sans-serif;*/ /*font-family:omnesregular,sans-serif,Georgia, "Times New Roman", ", Times, ", "serif" ;*/ /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman' , serif;*/
   /*font-family: 'Open Sans' ;option  2*/ 
   /*     font-family: 'Roboto Condensed' ,sans-serif;   option  1
    font-family: 'Calibri' ;   
   font-family:Calibri, Sans-Serif*/ 
font-family: 'Roboto Condensed' ,sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #223C61;
}

a:hover
{
    color: #223C61;
    text-decoration: none;
}

a:active
{
    color: #223C61;
}

p
{
    margin-bottom: 10px;
   /*line-height: 1.6em;*/ 
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
    color: grey;
    font-variant: small-caps;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1060px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    /*border: 1px solid #496077;*/
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #336699;
    width: 100%;
}

.header h1 {
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    color: white;
    border: none;
    line-height: 2em;
    font-size: 2em;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman' , serif;*/
    font-family: 'Lemon', cursive;
    text-shadow: 2px 2px gray;
 
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #FDBD06;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    
}

div.menu ul li a, div.menu ul li a:visited {
    background-color: #FDBD06;
    border: 0px solid #739A2C;
    color: #333;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    /*font-family: 'Roboto Condensed' ,sans-serif;
    font-family: 'Open Sans';
    font-family: 'Calibri' ;
    font-family:Calibri, Sans-Serif;*/
    font-family: 'Roboto Condensed' ,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

div.menu ul li a:hover {
    background-color: #FDBD06;
    color: #4E4E4E;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #739A2C;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: .95em;
    display: block;
    text-align: right;
    padding: 20px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.slideThumbs
{
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin: 5px;
    float: left;

}
.displayPop
{
    position: absolute;
    top: 300px;
    width: 400px;
}

input[type=submit] {
    margin: 10px;
    border-color: 0;
    border-style: solid;
    border-width: 0px;
    padding: 7px 15px 7px 15px;
    background-color: #E58703;
    color: #F5FCEB;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
}
input[type=submit]:hover  {
    margin: 10px;
    border-color: 0;
    border-style: solid;
    border-width: 0px;
    padding: 7px 15px 7px 15px;
    background-color: #FDBD06;
    color: #F5FCEB;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
}